.media-title-2
  text-transform: uppercase
  font-family: $family-monospace

.media-title-3
  text-transform: uppercase
  font-family: $family-serif
  font-weight: bold

section.intro
  font-family: $family-monospace
  padding-top: 9.375rem
  h1
    font-size: 4.625rem
  .month
    color: $media-primary
    cursor: pointer
    &:hover
      color: $media-green

section.media-menu
  font-family: $family-monospace
  padding: 4.375rem 0
  background: black
  background: transparentize(black, 1)
  transition: .25s
  &.attached
    background: transparentize(black, 0)

  .menuitem
    span
      display: block
    span.active
      border-bottom: 1px solid $media-primary


.introspace
  padding-top: 8rem

.navbar-fixed
  top: 0
  z-index: 80
  position: fixed
  width: 100%
  padding: .75rem

section.music
  .music-card
    border: 1px solid $media-primary
    padding: 25px 35px

.spacer
  height: 165px
  &.hide
    display: none

.month-bg
  background-image: url("../img/monthbg/monthbg-def.jpg")
  background-size: cover
  background-position: center center

+tablet-only
  .safety-padding
    padding: 0 1rem
+mobile
  .safety-padding
    padding: 0 1rem

.post-menu
  margin-top: -5rem


.music
  .introduction
    margin-bottom: 3rem
  h2
    @extend .media-title-3
    color: $white
  .subtitle
    @extend .media-title-2
    margin: .5rem 0
    color: $media-primary
