.sticker
  cursor: move
  position: absolute
  display: block
  transform: rotate(0deg)
  // TODO: below this is a band aid solution for the draggable <img> problem
  &::selection
    color: none
    background: transparent
  img
    user-drag: none
    user-select: none
    -moz-user-select: none
    -webkit-user-drag: none
    -webkit-user-select: none
    -ms-user-select: none


.sticker-area
  min-height: 300vh
  &.sticker-area-films
    min-height: 450vh

.sticker-music
  width: 100%
  max-width: 22vmax
  min-width: 220px

.sticker-film
  width: 100%
  max-width: 35vmax
  min-width: 300px
