.sticker
  cursor: move
  position: absolute
  display: block
  transform: rotate(0deg)
  transition: max-width .25s, min-width .25s
  // TODO: below this is a band aid solution for the draggable <img> problem
  &::selection
    color: none
    background: transparent
  img
    user-drag: none
    user-select: none
    -moz-user-select: none
    -webkit-user-drag: none
    -webkit-user-select: none
    -ms-user-select: none

.sticker-area
  min-height: 300vh
  &.sticker-area-album, .sticker-area-songs
    // height fudge in combination with sticker overlap set in JS
    min-height: calc( 400vh - 1200px )
  &.sticker-area-films
    min-height: calc( 550vh - 800px )
  &.sticker-area-television
    min-height: calc( 400vh - 900px )
  &.sticker-area-game
    min-height: calc( 350vh - 300px )

.sticker-music
  width: 100%
  max-width: calc(22vmax - 50px)
  min-width: 300px

.sticker-film
  width: 100%
  max-width: calc(32vmax - 50px)
  min-width: 380px
  +tablet
    max-width: calc(40vmax - 32px)
  +desktop
    max-width: calc(30vmax - 50px)
    min-width: 450px


.sticker-television
  width: 100%
  max-width: calc(26vmax - 50px)
  min-width: 300px

.sticker-game
  width: 100%
  max-width: calc(25vmax - 50px)
  min-width: 300px
