$media-primary: #f4a589
$media-secondary: #c9bdb9
$media-green: #46f7aa

section.intro
  margin-top: 9.375rem
  .subtitle
    font-size: $size-7
  h1
    font-size: 4.625rem
  .month
    color: $media-primary
    font-family: $family-monospace

section.media-menu
  font-family: $family-monospace
  .menuitem
    span
      display: block
    span.active
      border-bottom: 1px solid $media-primary


.introspace
  margin-top: 8rem
