.rotator-container
  transition: all .5s
  position: fixed
  top: 12px
  right: 16px
  z-index: 101
  padding: .25rem
  +tablet
    top: 20px
    right: 30px
    z-index: 101
    padding: .75rem
  img, svg, rotato
    width: 20vw
    height: 20vw
    max-width: 7rem
    max-height: 7rem
    animation: rotate 5s linear infinite
    transition: all .5s
    +tablet
      width: 150px
      height: 150px
      animation: rotate 5s linear infinite
      transition: all .5s

.menu-attached
  padding: 1rem
  img, svg, rotato
    display: none
    +tablet
      display: block
      width: 100px
      height: 100px

.films
  background: transparent
  .cls-1
    fill: black
.television
  background: transparent
  .cls-1
    fill: $media-primary
.game
  background: transparent
  .cls-1
    fill: $media-blue



@keyframes rotate
  0%
    -ms-transform: rotate(-360deg)
    -moz-transform: rotate(-360deg)
    -webkit-transform: rotate(-360deg)
    -o-transform: rotate(-360deg)
    transform: rotate(-360deg)
  100%
    -ms-transform: rotate(0deg)
    -moz-transform: rotate(0deg)
    -webkit-transform: rotate(0deg)
    -o-transform: rotate(0deg)
    transform: rotate(0deg)
